<div class="flex">

  <!-- Main content area -->
  <div class="flex-1">
    <h3 class="text-gray-900 font-extrabold text-3xl text-center mt-8 mb-6">All products!!!</h3>

    <div class="grid grid-cols-1 sm:grid-cols-4 gap-10 mx-auto my-3 max-w-screen-xl flex flex-wrap dark:divide-gray-600">
      <div *ngFor="let product of products" class="bg-white p-4 rounded-md shadow-md w-full">
        <img class="w-full h-auto rounded-md" [src]="product.productImg" alt="Product Image">
        <div class="p-4 flex-1 md:p-5">
          <h3 class="text-lg font-bold text-gray-800 dark:text-white">{{ product.productName }}</h3>
          <p class="mt-1 text-gray-500 dark:text-gray-400">{{ product.productDescription }}</p>
          <p class="mt-2 text-gray-800 dark:text-gray-300">Cost: Ksh {{ product.productCost.toFixed(2) }}</p>
        </div>

      </div>
    </div>
  </div>
</div>
